* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #f4f4f6;
  border-bottom: 2px solid #ccc;
}

.headMainPart {
  display: flex;
  justify-content: space-around;
}
.search {
  margin: 15px 0 0 50px;
}
.searchLab {
  position: relative;
}
.searchLab input {
  width: 650px;
  height: 43px;
  border: none;
  background: #f4f4f6;
  border: 1px solid #d9d9dd;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 50px;
}
.searchLab svg {
  position: absolute;
  top: 0;
  left: 10px;
}
.topMenu > svg {
  margin: 0 10px;
}
.section {
  display: grid;
  grid-template-columns: 250px 1fr;
}
/* menu */
.openMenu {
  padding: 10px 0;
  display: none;
}
.openMenu svg {
  cursor: pointer;
}
.navigate {
  width: 250px;
  background: #f4f4f6;
}
.closeMenu {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
.closeMenu svg {
  cursor: pointer;
}
.menuItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  padding-left: 20px;
  cursor: pointer;
}
.menuItem span {
  margin-left: 20px;
}
.bottomPart {
  margin-top: 250px;
}
.activeItem {
  background: linear-gradient(90deg, #ff1133 0%, rgba(255, 17, 51, 0.5) 100%);
}
.activeItem span {
  color: #fff;
}
.activeItem svg path {
  fill: #fff;
}
/* main */
.main {
  padding: 20px 35px;
}
.topSection {
  display: flex;
  justify-content: space-between;
}
.topSection p {
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: #010101;
}
#selectOption {
  width: 298px;
  height: 43px;
  background: #f4f4f6;
  border: 1px solid #d9d9dd;
  box-sizing: border-box;
  border-radius: 3px;
}
.items {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.infoItemArea {
  position: relative;
}
.infoHere {
  background-color: rgb(75, 75, 75);
  color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.hoveriseInfoHere {
  display: block;
}
.item {
  background: #fffbf4;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(115, 115, 115, 0.25);
  border-radius: 5px;
  width: 380px;
}
.itemTitle {
  height: 60px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.bgInfoItem {
  border: 1px solid #82bc40;
}
.bgInfo {
  background: #82bc40;
}
.bgWarningItem {
  border: 1px solid #ffa724;
}
.bgWarning {
  background: #ffa724;
}
.bgDangerItem {
  border: 1px solid #cf1317;
}
.bgDanger {
  background: #cf1317;
}
.titleAreas {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  gap: 20px;
}
.titleAreas span {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #010101;
}
.titleAreas svg {
  cursor: pointer;
}
.itemContent {
  padding: 25px 0;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-areas: "a c b";
  place-items: center;
}
.firstSVG {
  grid-area: a;
}
.secSVG {
  grid-area: b;
}
.contentMain {
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemContent .number {
  grid-area: c;
  width: 88px;
  height: 88px;
  background: #eeeeee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 36px;
  color: #010101;
  cursor: pointer;
}
.smallP {
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  background: #ff1133;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* crashWallboard items */
.crashItem {
  width: 380px;
  border-radius: 4px;
}
.topMain {
  border-radius: 4px;
  height: 80px;
  background: #ffa724;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.crashP {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #010101;
}
.crashIconArea {
  display: flex;
  align-items: center;
  gap: 20px;
}
.crashIconArea svg {
  cursor: pointer;
}

/* table */

.dataTables_wrapper {
  padding: 20px 1px;
}
.dataTables_wrapper a {
  text-decoration: none;
  color: #5b82d8;
}
.myDataTable {
  border-collapse: collapse;
  width: 800px;
}
.myDataTable tr {
  border: 1px solid black;
  height: 50px;
}
.myDataTable td {
  text-align: center;
}
.dataTables_info {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}
.dataTables_length {
  margin: 10px 20px;
}
.paging_simple_numbers {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 0 20px;
}
.previous {
  border: 2px solid black;
  padding: 5px 7px;
  border-radius: 5px;
}
.previous:hover {
  background-color: #fff;
  cursor: pointer;
}
.next {
  border: 2px solid black;
  padding: 5px 7px;
  border-radius: 5px;
}
.next:hover {
  background-color: #fff;
  cursor: pointer;
}
.paging_simple_numbers span .paginate_button {
  border: 2px solid black;
  margin: 0 5px;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 5px;
}
.paging_simple_numbers span .paginate_button:hover {
  background-color: #f4f4f6;
}
.paging_simple_numbers span .current {
  background-color: #fff;
}
.closeBtn {
  background-color: #5b82d8;
  color: #fff;
  cursor: pointer;
  margin: 0 20px;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
}
.forCloseDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
