* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #f4f4f6;
  border-bottom: 2px solid #ccc;
}

.headMainPart {
  display: flex;
  justify-content: space-around;
}
.search {
  margin: 15px 0 0 50px;
}
.searchLab {
  position: relative;
}
.searchLab input {
  width: 650px;
  height: 43px;
  border: none;
  background: #f4f4f6;
  border: 1px solid #d9d9dd;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 50px;
}
.searchLab svg {
  position: absolute;
  top: -2px;
  left: 10px;
}
.topMenu > svg {
  margin: 0 10px;
}

/* menu */
.navigate {
  width: 250px;
  background: #f4f4f6;
}
.closeMenu {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}
.closeMenu svg {
  cursor: pointer;
}
.menuItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  padding-left: 20px;
  cursor: pointer;
}
.menuItem span {
  margin-left: 20px;
}
.bottomPart {
  margin-top: 250px;
}
.activeItem {
  background: linear-gradient(90deg, #ff1133 0%, rgba(255, 17, 51, 0.5) 100%);
}
.activeItem span {
  color: #fff;
}
.activeItem svg path{
  fill: #fff;
}
